@import '../../assests/assests/view.scss';

.mainpage{
    width: 100%;
    height: 100%;
    &-top{
        width: 100%;
        background-color: #ffffff;
        height: 600px;
        display: flex;
        &-left{
            width:60%;
            border: 2px solid;
        }
        &-right{
            width: 40%;
            background: linear-gradient(90deg, #7856c6, #815ac7, #8a47ac, #8547a2);
        }
    }
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow-x: hidden;
  @include responsive(sm){
    width: 100%;
  }
  &-right{
    width: 40%;
    position: relative;
    height: 500px;
    display: flex;
    bottom: 10px;
    @include responsive(sm){
        display: none;
    }
  }
}

.content-left {
    width: 45%;
    align-items: flex-start;
    margin-left: 20px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include responsive(sm){
        width: 100%;
    }
        
    &-welcome{
        display: flex;
        align-items: center;
        gap: 6px;
        color: #9E2349;
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
        &-text{
            border-bottom: 2px solid #9E2349;
            width: 10px;
        }
    }
    &-title{
        font-size: 4.5rem;
        font-weight: 600;
        text-align: justify;
        @include responsive(sm){
            font-size: 2.3rem;
        }
        &-text{
            color: rgb(158, 35, 73);
        }
    }
    &-subtext{
        text-align: justify;
        font-size: 15px;
        color: grey;
    }
    &-status{
        display: flex;
        width: 100%;
        gap: 20px;
        margin-top: 10px;
        &-details{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: start;
            width: 30%;
            gap: 5px;
            padding: 10px;
            &-num{
                color: #7D59C3;
            }
            &-value{
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

}

.card {
  width: 260px;
  border-radius: 20px;
}

.card-2 { 
    position: relative;
    left: 46px;
}
.card-3 { 
    top: 200px; 
    left: 0; 
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, white 65%, #7b4cff 50%);
}


.aboutus{
    background-color: #f5f4f8;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 80px 40px;
    @include responsive(sm){
        width: 100%;
        padding: 15px;
    }
    &-title{
       font-size: 20px;
        gap: 5px;
        font-weight: 600;
        color: #9E2349;
        margin-left: 20px;
        display: flex;
        align-items: center;
        &-line{
            width: 10px;
            border-bottom: 2px solid #9E2349;
        }
    }
    &-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1px;
        text-align: justify;
        background-color: gray;
        @include responsive(sm){
            width: 100%;
            gap: 2px;
            grid-template-columns: 1fr;
        }
        &-heading{
            font-size: 16px;
            display: flex;
            align-items: center;
            font-weight: 600;
            gap: 20px;
            > img{
                width: 20%;
            }
        }
        &-para{
            font-size: 14px;
        }
        &-cardcontent{
            background-color: #f5f4f8;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}
.card1{
    background-color: #f5f4f8;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    @include responsive(sm){
        font-size: 27px;
    }
}

.fotter{
    background-color: #000000;
    width: 97%;
    padding: 20px;
    display: flex;
    @include responsive(sm){
        flex-direction: column-reverse;
        width: 100%;
        padding: 18px;
    }
    &-left{
        width: 50%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
        margin-top: 50px;
        padding: 10px;
        border-right: 1px solid grey;
        @include responsive(sm){
            width: 90%;
            border-right: 0;
            margin-top: 10px;
            margin-left: 0;
        }
        &-input{
           display: flex;
           width: 100%; 
        }
        &-text{
            color: #ffffff;
            font-weight: 600;
            font-size: 18px;
        }
        &-images{
            justify-content: left;
            display: flex;
            width: 100%;
            @include responsive(sm){
                width: 96%;
            }
            > img{
                width: 10%;
                @include responsive(sm){
                    width: 15%;
                }
            }
        }
    }
    &-right{
        padding: 20px;
        width: 60%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        @include responsive(sm){
            width: 90%;
            padding: 10px;
            padding-bottom: 30px;
            margin-left: 0;
            border-bottom: 1px solid grey;
        }
        &-logo{
            display: flex;
            margin-bottom: 20px;
            align-items: center;
            gap: 40px;
            > img{
                width: 15%;
            }
        }
        &-details{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            @include responsive(sm){
                grid-template-columns: 1fr 1fr;
            }
            &-network{
                justify-content: left;
                display: flex;
                align-items: start;
                flex-direction: column;
                &-title{
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                &-names{
                    align-items: start;
                    justify-content: start;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 14px;
                    color: grey;
                    text-align: justify;
                    > p{
                        margin: 0;
                    }
                }
            }
        }
        &-reach{
            align-items: start;
            justify-content: start;
            display: flex;
            flex-direction: column;
            > h4{
                margin: 0;
            }
            &-text{
                font-size: 13px;
                text-align: justify;
            }
        }
    }
}

.fotter-right-details > div:nth-child(1),
.fotter-right-details > div:nth-child(2) {
  grid-column: span 1;
}

.fotter-right-details > div:nth-child(1) {
  grid-column: 1;
}
.fotter-right-details > div:nth-child(2) {
  grid-column: 2;
}
.fotter-right-details > div:nth-child(3) {
  grid-column: 1;
}

.button{
    position: relative !important;
    height: 50px;
    width: 100% !important;
    right: 100px;
    top: 4px;
    border-radius: 20px !important;
    text-transform: capitalize !important;
    @include responsive(sm){
        width: 90% !important;
        right: 90px;
        height: 40px;
        top: 10px;
    }
}
 

.button-signup{
    height: 50px;
    width: 100% !important;
    border-radius: 20px !important;
    text-transform: capitalize !important;
}