.header {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 1000;
    &-left {
        display: flex;
        align-items: center;
        width: 65%;
    }
    &-right{    
    display: flex;
    gap: 20px;
    margin-right: 35px;

    }
}


.logo{
    width: 16%;
}

.logo img {
  width:60%;
  cursor: pointer;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  color: #222;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: #7C5AC7;
}


.header-right {
  display: flex;
  gap: 20px;
  margin-right: 35px;
}
