.mobilemenu{
    width: 90vw;
    height:100vh;
    &-header{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-right: 26px;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        background: linear-gradient(to right, #ffffff, #7D59C3);
        &-left{
            > img{
                width: 60%;
            }
        }

    }
}