.sidebar{
    &-header{  
        display: flex;
        gap: 20px;
        height: 200px;
        background: linear-gradient(to right, #7D59C3);
        align-items: center;
        justify-content: center;
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.nav-link{
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}